code/web_project/group_project/src/com/sf/module/esbinterface/webservice/server/errorinfo/wsdl/metadata.xsd

<?xml version="1.0" encoding="utf-8"?>

<x:schema xmlns:x="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.spdb.com.cn/spdb/metadata" xmlns:d="http://www.sf-express.com/esb/metadata" targetNamespace="http://www.sf-express.com/esb/metadata" elementFormDefault="qualified" attributeFormDefault="qualified">
  <x:element name="detpCode" nillable="true" type="x:string"/>
  <x:element name="divCode" nillable="true" type="x:string"/>
  <x:element name="divName" nillable="true" type="x:string"/>
  <x:element name="drawNum" nillable="true" type="x:string"/>
  <x:element name="drawTime" nillable="true" type="x:date"/>
  <x:element name="drawWare" nillable="true" type="x:string"/>
  <x:element name="employeeId" nillable="true" type="x:string"/>
  <x:element name="employeeName" nillable="true" type="x:string"/>
  <x:element name="expendRate" nillable="true" type="x:string"/>
  <x:element name="firstTradeDate" nillable="true" type="x:date"/>
  <x:element name="guid" nillable="true" type="x:string"/>
  <x:element name="handNum" nillable="true" type="x:string"/>
  <x:element name="importantLevel" nillable="true" type="x:string"/>
  <x:element name="isDelete" nillable="true" type="x:string"/>
  <x:element name="lastDate" nillable="true" type="x:date"/>
  <x:element name="lastUpdateTime" nillable="true" type="x:date"/>
  <x:element name="lastUpdateUser" nillable="true" type="x:string"/>
  <x:element name="linkman" nillable="true" type="x:string"/>
  <x:element name="linkmanMobile" nillable="true" type="x:string"/>
  <x:element name="linkmanTel" nillable="true" type="x:string"/>
  <x:element name="lowestShengouliang" nillable="true" type="x:string"/>
  <x:element name="month" nillable="true" type="x:string"/>
  <x:element name="name" nillable="true" type="x:string"/>
  <x:element name="number" nillable="true" type="x:string"/>
  <x:element name="operationUser" nillable="true" type="x:string"/>
  <x:element name="orderPrincipal" nillable="true" type="x:string"/>
  <x:element name="packSpec" nillable="true" type="x:string"/>
  <x:element name="parentId" nillable="true" type="x:string"/>
  <x:element name="payDetail" nillable="true" type="x:string"/>
  <x:element name="payType" nillable="true" type="x:string"/>
  <x:element name="payway" nillable="true" type="x:string"/>
  <x:element name="picurl" nillable="true" type="x:string"/>
  <x:element name="preNumber" nillable="true" type="x:string"/>
  <x:element name="priceType" nillable="true" type="x:string"/>
  <x:element name="producingArea" nillable="true" type="x:string"/>
  <x:element name="responsibilityPeople" nillable="true" type="x:string"/>
  <x:element name="returnTime" nillable="true" type="x:date"/>
  <x:element name="segmentMgr" nillable="true" type="x:string"/>
  <x:element name="shopCard" nillable="true" type="x:string"/>
  <x:element name="source" nillable="true" type="x:string"/>
  <x:element name="specialApplyExplain" nillable="true" type="x:string"/>
  <x:element name="status" nillable="true" type="x:string"/>
  <x:element name="stockPrefixdate" nillable="true" type="x:string"/>
  <x:element name="stockPrincipal" nillable="true" type="x:string"/>
  <x:element name="supplierAlias" nillable="true" type="x:string"/>
  <x:element name="supplierEmail" nillable="true" type="x:string"/>
  <x:element name="supplierFax" nillable="true" type="x:string"/>
  <x:element name="supplierId" nillable="true" type="x:string"/>
  <x:element name="supplierName" nillable="true" type="x:string"/>
  <x:element name="supplierPsnm" nillable="true" type="x:string"/>
  <x:element name="supplierTel" nillable="true" type="x:string"/>
  <x:element name="supplierType" nillable="true" type="x:string"/>
  <x:element name="supplierWeb" nillable="true" type="x:string"/>
  <x:element name="supplyRange" nillable="true" type="x:string"/>
  <x:element name="serialNumber" nillable="true" type="x:string"/>
  <x:element name="spec" nillable="true" type="x:string"/>
  <x:element name="updateTm" nillable="true" type="x:date"/>
  <x:element name="userAccount" nillable="true" type="x:string"/>
  <x:element name="userYear" nillable="true" type="x:string"/>
  <x:element name="traceIncrementInfoList" nillable="true" type="x:string"/>
  <x:element name="transferCnt" nillable="true" type="x:string"/>
  <x:element name="transportCnt" nillable="true" type="x:string"/>
  <x:element name="uploadTypeInputty" nillable="true" type="x:string"/>
  <x:element name="vehicleId" nillable="true" type="x:string"/>
  <x:element name="vehicleNo" nillable="true" type="x:string"/>
  <x:element name="vehiclePlate" nillable="true" type="x:string"/>
  <x:element name="vheicleGpsInfo" nillable="true" type="x:string"/>
  <x:element name="vipCode" nillable="true" type="x:string"/>
  <x:element name="waiteServiceFlg" nillable="true" type="x:string"/>
  <x:element name="waybillList" nillable="true" type="x:string"/>
  <x:element name="waybillNo" nillable="true" type="x:string"/>
  <x:element name="waybillNoList" nillable="true" type="x:string"/>
  <x:element name="waybillRemark" nillable="true" type="x:string"/>
  <x:element name="weightQty" nillable="true" type="x:double"/>
  <x:element name="x" nillable="true" type="x:string"/>
  <x:element name="y" nillable="true" type="x:string"/>
  <x:element name="zoneCode" nillable="true" type="x:string"/>
  <x:element name="zoneGmt" nillable="true" type="x:string"/>
  <x:element name="zoneName" nillable="true" type="x:string"/>
  <x:element name="zoneTypeCode" nillable="true" type="x:string"/>
  <x:element name="feeTypeCodeList" nillable="true" type="x:string"/>
  <x:element name="serviceTypeCodeList" nillable="true" type="x:string"/>
  <x:element name="tbOrderNo" nillable="true" type="x:string"/>
  <x:element name="b2c" nillable="true" type="x:string"/>
  <x:element name="visitInfo" nillable="true" type="x:string"/>
  <x:element name="isNohtm" nillable="true" type="x:string"/>
  <x:element name="taxbillInfo" nillable="true" type="x:string"/>
  <x:element name="postcode" nillable="true" type="x:string"/>
  <x:element name="mobile" nillable="true" type="x:string"/>
  <x:element name="offtel" nillable="true" type="x:string"/>
  <x:element name="relainfo" nillable="true" type="x:string"/>
  <x:element name="empName" nillable="true" type="x:string"/>
  <x:element name="relaDistrict" nillable="true" type="x:string"/>
  <x:element name="relaOrgName" nillable="true" type="x:string"/>
  <x:element name="positionName" nillable="true" type="x:string"/>
  <x:element name="relaTitle" nillable="true" type="x:string"/>
  <x:element name="prolevel" nillable="true" type="x:string"/>
  <x:element name="rela" nillable="true" type="x:string"/>
  <x:element name="comWorks" nillable="true" type="x:string"/>
  <x:element name="staDate" nillable="true" type="x:date"/>
  <x:element name="dist" nillable="true" type="x:string"/>
  <x:element name="orgName" nillable="true" type="x:string"/>
  <x:element name="comEmpType" nillable="true" type="x:string"/>
  <x:element name="comPosition" nillable="true" type="x:string"/>
  <x:element name="emplevel" nillable="true" type="x:string"/>
  <x:element name="comTitle" nillable="true" type="x:string"/>
  <x:element name="projects" nillable="true" type="x:string"/>
  <x:element name="proStatDate" nillable="true" type="x:date"/>
  <x:element name="proEndDate" nillable="true" type="x:date"/>
  <x:element name="proType" nillable="true" type="x:string"/>
  <x:element name="proJoinDate" nillable="true" type="x:date"/>
  <x:element name="proQuitDate" nillable="true" type="x:date"/>
  <x:element name="proPosition" nillable="true" type="x:string"/>
  <x:element name="buInfo" nillable="true" type="x:string"/>
  <x:element name="buStaDate" nillable="true" type="x:date"/>
  <x:element name="buEndDate" nillable="true" type="x:date"/>
  <x:element name="buPosition" nillable="true" type="x:string"/>
  <x:element name="tytype" nillable="true" type="x:string"/>
  <x:element name="score" nillable="true" type="x:string"/>
  <x:element name="projoinDate" nillable="true" type="x:date"/>
  <x:element name="receiveBill_preCustomsDt" nillable="true" type="x:date"/>
  <x:element name="receiveBill_quantity" nillable="true" type="x:double"/>
  <x:element name="receiveBill_realWeightQty" nillable="true" type="x:double"/>
  <x:element name="receiveBill_refundFreeParcelFlg" nillable="true" type="x:int"/>
  <x:element name="receiveBill_selfSendDiscount" nillable="true" type="x:double"/>
  <x:element name="receiveBill_selfSendFlg" nillable="true" type="x:int"/>
  <x:element name="receiveBill_signedBackWaybillNo" nillable="true" type="x:string"/>
  <x:element name="receiveBill_signinTm" nillable="true" type="x:date"/>
  <x:element name="receiveBill_sourcearea" nillable="true" type="x:string"/>
  <x:element name="receiveBill_sourceZoneCode" nillable="true" type="x:string"/>
  <x:element name="receiveBill_subscriberName" nillable="true" type="x:string"/>
  <x:element name="receiveBill_suppTypeCode" nillable="true" type="x:string"/>
  <x:element name="receiveBill_tbOrderNo" nillable="true" type="x:string"/>
  <x:element name="receiveBill_tbOrderType" nillable="true" type="x:string"/>
  <x:element name="receiveBill_transferParcelFlg" nillable="true" type="x:int"/>
  <x:element name="receiveBill_transportTypeCode" nillable="true" type="x:string"/>
  <x:element name="receiveBill_trustParcelFlg" nillable="true" type="x:int"/>
  <x:element name="receiveBill_twinvoiceTypeCode" nillable="true" type="x:int"/>
  <x:element name="receiveBill_unifiedCode" nillable="true" type="x:string"/>
  <x:element name="receiveBill_unitWeight" nillable="true" type="x:string"/>
  <x:element name="receiveBill_versionNo" nillable="true" type="x:int"/>
  <x:element name="receiveBill_volume" nillable="true" type="x:double"/>
  <x:element name="receiveBill_waybillId" nillable="true" type="x:string"/>
  <x:element name="receiveBill_waybillNo" nillable="true" type="x:string"/>
  <x:element name="receiveBill_waybillRemk" nillable="true" type="x:string"/>
  <x:element name="receiveBillFlg" nillable="true" type="x:string"/>
  <x:element name="receiveFee" nillable="true" type="x:string"/>
  <x:element name="receiveFee_bizOwnerZoneCode" nillable="true" type="x:string"/>
  <x:element name="receiveFee_currencyCode" nillable="true" type="x:string"/>
  <x:element name="receiveFee_customerAcctCode" nillable="true" type="x:string"/>
  <x:element name="receiveFee_destCurrencyCode" nillable="true" type="x:string"/>
  <x:element name="receiveFee_exchangeRate" nillable="true" type="x:double"/>
  <x:element name="receiveFee_feeAmt" nillable="true" type="x:double"/>
  <x:element name="receiveFee_feeId" nillable="true" type="x:string"/>
  <x:element name="receiveFee_feeTypeCode" nillable="true" type="x:string"/>
  <x:element name="receiveFee_gatherEmpCode" nillable="true" type="x:string"/>
  <x:element name="receiveFee_gatherZoneCode" nillable="true" type="x:string"/>
  <x:element name="receiveFee_gstFee" nillable="true" type="x:double"/>
  <x:element name="receiveFee_inputTm" nillable="true" type="x:date"/>
  <x:element name="receiveFee_inputTypeCode" nillable="true" type="x:string"/>
  <x:element name="receiveFee_newInputTm" nillable="true" type="x:date"/>
  <x:element name="receiveFee_paymentChangeTypeCode" nillable="true" type="x:string"/>
  <x:element name="receiveFee_paymentTypeCode" nillable="true" type="x:string"/>
  <x:element name="receiveFee_refundFeeAmt" nillable="true" type="x:double"/>
  <x:element name="receiveFee_serviceId" nillable="true" type="x:string"/>
  <x:element name="receiveFee_settlementTypeCode" nillable="true" type="x:string"/>
  <x:element name="receiveFee_sourceCodeFeeAmt" nillable="true" type="x:double"/>
  <x:element name="receiveFee_versionNo" nillable="true" type="x:int"/>
  <x:element name="receiveFee_waybillId" nillable="true" type="x:string"/>
  <x:element name="sendBill_consValueCurrencyCode" nillable="true" type="x:string"/>
  <x:element name="sendBill" nillable="true" type="x:string"/>
  <x:element name="receiveFee_waybillNo" nillable="true" type="x:string"/>
  <x:element name="receiveService" nillable="true" type="x:string"/>
  <x:element name="receiveService_attribute1" nillable="true" type="x:string"/>
  <x:element name="receiveService_attribute2" nillable="true" type="x:string"/>
  <x:element name="receiveService_Attribute3" nillable="true" type="x:string"/>
  <x:element name="receiveService_Attribute4" nillable="true" type="x:string"/>
  <x:element name="receiveService_Attribute5" nillable="true" type="x:string"/>
  <x:element name="receiveService_inputTm" nillable="true" type="x:date"/>
  <x:element name="receiveService_newInputTm" nillable="true" type="x:date"/>
  <x:element name="receiveService_serviceId" nillable="true" type="x:string"/>
  <x:element name="receiveService_serviceProdCode" nillable="true" type="x:string"/>
  <x:element name="receiveService_versionNo" nillable="true" type="x:int"/>
  <x:element name="receiveService_waybillId" nillable="true" type="x:string"/>
  <x:element name="receiveService_waybillNo" nillable="true" type="x:string"/>
  <x:element name="receTm" nillable="true" type="x:date"/>
  <x:element name="remark" nillable="true" type="x:string"/>
  <x:element name="reportDt" nillable="true" type="x:string"/>
  <x:element name="result" nillable="true" type="x:string"/>
  <x:element name="return" nillable="true" type="x:string"/>
  <x:element name="routeCode" nillable="true" type="x:string"/>
  <x:element name="sapDestZoneCode" nillable="true" type="x:string"/>
  <x:element name="sapDestZoneName" nillable="true" type="x:string"/>
  <x:element name="scanDate" nillable="true" type="x:string"/>
  <x:element name="scanTime" nillable="true" type="x:date"/>
  <x:element name="sendBackCnt" nillable="true" type="x:string"/>
  <x:element name="sendBill_ackbillTypeCode" nillable="true" type="x:string"/>
  <x:element name="sendBill_addresseeAddr" nillable="true" type="x:string"/>
  <x:element name="sendBill_addresseeAddrNative" nillable="true" type="x:string"/>
  <x:element name="sendBill_addresseeCompName" nillable="true" type="x:string"/>
  <x:element name="sendBill_addresseeContName" nillable="true" type="x:string"/>
  <x:element name="sendBill_addresseeMobile" nillable="true" type="x:string"/>
  <x:element name="sendBill_addresseePhone" nillable="true" type="x:string"/>
  <x:element name="sendBill_addresseePostalCode" nillable="true" type="x:string"/>
  <x:element name="sendBill_airportCode" nillable="true" type="x:string"/>
  <x:element name="sendBill_auditedFlg" nillable="true" type="x:int"/>
  <x:element name="sendBill_auditedTm" nillable="true" type="x:date"/>
  <x:element name="sendBill_auditerEmpCode" nillable="true" type="x:string"/>
  <x:element name="sendBill_auditerTmGmt" nillable="true" type="x:date"/>
  <x:element name="sendBill_boxTypeCode" nillable="true" type="x:string"/>
  <x:element name="sendBill_cargoTypeCode" nillable="true" type="x:string"/>
  <x:element name="sendBill_codBillFlg" nillable="true" type="x:int"/>
  <x:element name="sendBill_codType" nillable="true" type="x:int"/>
  <x:element name="sendBill_consignedTm" nillable="true" type="x:date"/>
  <x:element name="sendBill_consigneeEmpCode" nillable="true" type="x:string"/>
  <x:element name="sendBill_consignorAdd" nillable="true" type="x:string"/>
  <x:element name="sendBill_consignorCompName" nillable="true" type="x:string"/>
  <x:element name="sendBill_consignorContName" nillable="true" type="x:string"/>
  <x:element name="sendBill_consignorMobile" nillable="true" type="x:string"/>
  <x:element name="sendBill_consignorPhone" nillable="true" type="x:string"/>
  <x:element name="sendBill_consignorPostalCode" nillable="true" type="x:string"/>
  <x:element name="sendBill_consignorTaxNo" nillable="true" type="x:string"/>
  <x:element name="sendBill_consultCode" nillable="true" type="x:string"/>
  <x:element name="sendBill_consValue" nillable="true" type="x:double"/>
  <x:element name="sendService_attribute2" nillable="true" type="x:string"/>
  <x:element name="sendService_Attribute3" nillable="true" type="x:string"/>
  <x:element name="sendService_Attribute4" nillable="true" type="x:string"/>
  <x:element name="sendService_Attribute5" nillable="true" type="x:string"/>
  <x:element name="sendService_inputTm" nillable="true" type="x:date"/>
  <x:element name="sendService_newInputTm" nillable="true" type="x:date"/>
  <x:element name="sendService_serviceId" nillable="true" type="x:string"/>
  <x:element name="sendService_serviceProdCode" nillable="true" type="x:string"/>
  <x:element name="sendService_versionNo" nillable="true" type="x:int"/>
  <x:element name="sendService_waybillId" nillable="true" type="x:string"/>
  <x:element name="sendService_waybillNo" nillable="true" type="x:string"/>
  <x:element name="signedPercent" nillable="true" type="x:double"/>
  <x:element name="signedStates" nillable="true" type="x:string"/>
  <x:element name="signinTm" nillable="true" type="x:date"/>
  <x:element name="singedCnt" nillable="true" type="x:string"/>
  <x:element name="singedType" nillable="true" type="x:int"/>
  <x:element name="sourceCityName" nillable="true" type="x:string"/>
  <x:element name="sourceScanTm" nillable="true" type="x:date"/>
  <x:element name="sourceZoneCode" nillable="true" type="x:string"/>
  <x:element name="sourceZoneName" nillable="true" type="x:string"/>
  <x:element name="specialLevel" nillable="true" type="x:string"/>
  <x:element name="srcCity" nillable="true" type="x:string"/>
  <x:element name="srcCityName" nillable="true" type="x:string"/>
  <x:element name="srcCode" nillable="true" type="x:string"/>
  <x:element name="srcZoneCode" nillable="true" type="x:string"/>
  <x:element name="srcZoneCodeGps" nillable="true" type="x:string"/>
  <x:element name="startDt" nillable="true" type="x:string"/>
  <x:element name="stayCodeName" nillable="true" type="x:string"/>
  <x:element name="stayWhyCode" nillable="true" type="x:string"/>
  <x:element name="stayWhyName" nillable="true" type="x:string"/>
  <x:element name="stayWhyNameEn" nillable="true" type="x:string"/>
  <x:element name="storeCode" nillable="true" type="x:string"/>
  <x:element name="subscriberName" nillable="true" type="x:string"/>
  <x:element name="supplementCnt" nillable="true" type="x:string"/>
  <x:element name="systemId" nillable="true" type="x:string"/>
  <x:element name="taxbillInfo_currencyCode" nillable="true" type="x:string"/>
  <x:element name="taxbillInfo_customsDate" nillable="true" type="x:date"/>
  <x:element name="taxbillInfo_customsDutiesAmt" nillable="true" type="x:double"/>
  <x:element name="taxbillInfo_exciseAmt" nillable="true" type="x:double"/>
  <x:element name="taxbillInfo_handlingFeeAmt" nillable="true" type="x:double"/>
  <x:element name="taxbillInfo_importedDt" nillable="true" type="x:date"/>
  <x:element name="taxbillInfo_importTm" nillable="true" type="x:date"/>
  <x:element name="taxbillInfo_othertaxAmt" nillable="true" type="x:double"/>
  <x:element name="taxbillInfo_salesTaxAmt" nillable="true" type="x:double"/>
  <x:element name="taxbillInfo_taxbillId" nillable="true" type="x:string"/>
  <x:element name="taxbillInfo_taxbillNo" nillable="true" type="x:string"/>
  <x:element name="receiveBill" nillable="true" type="x:string"/>
  <x:element name="taxbillInfo_totalTaxfeeAmt" nillable="true" type="x:double"/>
  <x:element name="taxbillInfo_waybillNo" nillable="true" type="x:string"/>
  <x:element name="telNo" nillable="true" type="x:string"/>
  <x:element name="totalCnt" nillable="true" type="x:string"/>
  <x:element name="totalFee" nillable="true" type="x:double"/>
  <x:element name="totalId" nillable="true" type="x:string"/>
  <x:element name="customerCode" nillable="true" type="x:string"/>
  <x:element name="sendBill_unitWeight" nillable="true" type="x:string"/>
  <x:element name="sendBill_versionNo" nillable="true" type="x:int"/>
  <x:element name="sendBill_volume" nillable="true" type="x:double"/>
  <x:element name="sendBill_waybillId" nillable="true" type="x:string"/>
  <x:element name="sendBill_waybillNo" nillable="true" type="x:string"/>
  <x:element name="sendBill_waybillRemk" nillable="true" type="x:string"/>
  <x:element name="sendFee" nillable="true" type="x:string"/>
  <x:element name="sendFee_bizOwnerZoneCode" nillable="true" type="x:string"/>
  <x:element name="sendFee_currencyCode" nillable="true" type="x:string"/>
  <x:element name="sendFee_customerAcctCode" nillable="true" type="x:string"/>
  <x:element name="sendFee_destCurrencyCode" nillable="true" type="x:string"/>
  <x:element name="sendFee_exchangeRate" nillable="true" type="x:double"/>
  <x:element name="sendFee_feeAmt" nillable="true" type="x:double"/>
  <x:element name="sendFee_feeId" nillable="true" type="x:string"/>
  <x:element name="sendFee_feeTypeCode" nillable="true" type="x:string"/>
  <x:element name="sendFee_gatherEmpCode" nillable="true" type="x:string"/>
  <x:element name="sendFee_gatherZoneCode" nillable="true" type="x:string"/>
  <x:element name="sendFee_gstFee" nillable="true" type="x:double"/>
  <x:element name="sendFee_inputTm" nillable="true" type="x:date"/>
  <x:element name="sendFee_inputTypeCode" nillable="true" type="x:string"/>
  <x:element name="sendFee_newInputTm" nillable="true" type="x:date"/>
  <x:element name="sendFee_paymentChangeTypeCode" nillable="true" type="x:string"/>
  <x:element name="sendFee_paymentTypeCode" nillable="true" type="x:string"/>
  <x:element name="sendFee_refundFeeAmt" nillable="true" type="x:double"/>
  <x:element name="sendFee_serviceId" nillable="true" type="x:string"/>
  <x:element name="sendFee_settlementTypeCode" nillable="true" type="x:string"/>
  <x:element name="sendFee_sourceCodeFeeAmt" nillable="true" type="x:double"/>
  <x:element name="sendFee_versionNo" nillable="true" type="x:int"/>
  <x:element name="sendFee_waybillId" nillable="true" type="x:string"/>
  <x:element name="sendFee_waybillNo" nillable="true" type="x:string"/>
  <x:element name="sendService" nillable="true" type="x:string"/>
  <x:element name="sendService_attribute1" nillable="true" type="x:string"/>
  <x:element name="attach3" nillable="true" type="x:string"/>
  <x:element name="attach4" nillable="true" type="x:string"/>
  <x:element name="attach5" nillable="true" type="x:string"/>
  <x:element name="attach6" nillable="true" type="x:string"/>
  <x:element name="autoloading" nillable="true" type="x:string"/>
  <x:element name="account" nillable="true" type="x:string"/>
  <x:element name="account_name" nillable="true" type="x:string"/>
  <x:element name="addr" nillable="true" type="x:string"/>
  <x:element name="addressId" nillable="true" type="x:string"/>
  <x:element name="barList" nillable="true" type="x:string"/>
  <x:element name="barNewList" nillable="true" type="x:string"/>
  <x:element name="barScanDt" nillable="true" type="x:string"/>
  <x:element name="barScanTm" nillable="true" type="x:date"/>
  <x:element name="barScanTmStd" nillable="true" type="x:date"/>
  <x:element name="barTraceList" nillable="true" type="x:string"/>
  <x:element name="barUploadTm" nillable="true" type="x:date"/>
  <x:element name="affireNum" nillable="true" type="x:string"/>
  <x:element name="applyBuyCyc" nillable="true" type="x:string"/>
  <x:element name="applyDepartment" nillable="true" type="x:string"/>
  <x:element name="assertNum" nillable="true" type="x:string"/>
  <x:element name="auditCompleteDate" nillable="true" type="x:string"/>
  <x:element name="auditorUser" nillable="true" type="x:string"/>
  <x:element name="auditTime" nillable="true" type="x:date"/>
  <x:element name="auditTypeCode" nillable="true" type="x:string"/>
  <x:element name="auditTypeText" nillable="true" type="x:string"/>
  <x:element name="bank" nillable="true" type="x:string"/>
  <x:element name="barCode" nillable="true" type="x:string"/>
  <x:element name="catalogId" nillable="true" type="x:string"/>
  <x:element name="catalogName" nillable="true" type="x:string"/>
  <x:element name="catalogNo" nillable="true" type="x:string"/>
  <x:element name="checkChannel" nillable="true" type="x:string"/>
  <x:element name="checkStandard" nillable="true" type="x:string"/>
  <x:element name="checkWay" nillable="true" type="x:string"/>
  <x:element name="companyId" nillable="true" type="x:string"/>
  <x:element name="consignmentMode" nillable="true" type="x:string"/>
  <x:element name="cooperateStatus" nillable="true" type="x:string"/>
  <x:element name="crapNum" nillable="true" type="x:string"/>
  <x:element name="createTime" nillable="true" type="x:date"/>
  <x:element name="createUser" nillable="true" type="x:string"/>
  <x:element name="currencyType" nillable="true" type="x:string"/>
  <x:element name="deptCode" nillable="true" type="x:string"/>
  <x:element name="deptName" nillable="true" type="x:string"/>
  <x:element name="destination" nillable="true" type="x:string"/>
  <x:element name="taxNo" nillable="true" type="x:string"/>
  <x:element name="type" nillable="true" type="x:string"/>
  <x:element name="abnormalReason" nillable="true" type="x:string"/>
  <x:element name="accountantCode" nillable="true" type="x:string"/>
  <x:element name="addBar" nillable="true" type="x:string"/>
  <x:element name="addHTML" nillable="true" type="x:string"/>
  <x:element name="addresseeAddr" nillable="true" type="x:string"/>
  <x:element name="addresseeAddrNative" nillable="true" type="x:string"/>
  <x:element name="addresseeCompName" nillable="true" type="x:string"/>
  <x:element name="addresseeContName" nillable="true" type="x:string"/>
  <x:element name="addresseeCustNo" nillable="true" type="x:string"/>
  <x:element name="addresseeMobile" nillable="true" type="x:string"/>
  <x:element name="addresseePhone" nillable="true" type="x:string"/>
  <x:element name="addService" nillable="true" type="x:string"/>
  <x:element name="arriveTm" nillable="true" type="x:date"/>
  <x:element name="attach1" nillable="true" type="x:string"/>
  <x:element name="attach2" nillable="true" type="x:string"/>
  <x:element name="extendAttach2" nillable="true" type="x:string"/>
  <x:element name="extendAttach3" nillable="true" type="x:string"/>
  <x:element name="extendAttach4" nillable="true" type="x:string"/>
  <x:element name="extendAttach5" nillable="true" type="x:string"/>
  <x:element name="feeAmt" nillable="true" type="x:double"/>
  <x:element name="fromOmpflg" nillable="true" type="x:string"/>
  <x:element name="gps" nillable="true" type="x:string"/>
  <x:element name="hqCode" nillable="true" type="x:string"/>
  <x:element name="id" nillable="true" type="x:string"/>
  <x:element name="imageURL" nillable="true" type="x:string"/>
  <x:element name="initExpectedDeliveryTm" nillable="true" type="x:date"/>
  <x:element name="inputTypeCode" nillable="true" type="x:string"/>
  <x:element name="insuranceFee" nillable="true" type="x:double"/>
  <x:element name="isdeDeliveryPreparation" nillable="true" type="x:string"/>
  <x:element name="isValid" nillable="true" type="x:string"/>
  <x:element name="keapCnt" nillable="true" type="x:string"/>
  <x:element name="lastDateList" nillable="true" type="x:string"/>
  <x:element name="lastExpectedDeliveryTm" nillable="true" type="x:date"/>
  <x:element name="latitude" nillable="true" type="x:double"/>
  <x:element name="longitude" nillable="true" type="x:double"/>
  <x:element name="lostCnt" nillable="true" type="x:string"/>
  <x:element name="mainLandToMainLand" nillable="true" type="x:string"/>
  <x:element name="memo" nillable="true" type="x:string"/>
  <x:element name="message" nillable="true" type="x:string"/>
  <x:element name="meterageWeightQty" nillable="true" type="x:double"/>
  <x:element name="nextDestZone" nillable="true" type="x:string"/>
  <x:element name="noSingedCnt" nillable="true" type="x:int"/>
  <x:element name="note" nillable="true" type="x:string"/>
  <x:element name="objTypeCode" nillable="true" type="x:string"/>
  <x:element name="opAttachInfo" nillable="true" type="x:string"/>
  <x:element name="opCode" nillable="true" type="x:string"/>
  <x:element name="opName" nillable="true" type="x:string"/>
  <x:element name="oprCode" nillable="true" type="x:string"/>
  <x:element name="otherCnt" nillable="true" type="x:string"/>
  <x:element name="otherFee" nillable="true" type="x:double"/>
  <x:element name="outsideName" nillable="true" type="x:string"/>
  <x:element name="pageCnt" nillable="true" type="x:string"/>
  <x:element name="parameterNameList" nillable="true" type="x:string"/>
  <x:element name="parameterValueList" nillable="true" type="x:string"/>
  <x:element name="payFlg" nillable="true" type="x:string"/>
  <x:element name="paymentTypeCode" nillable="true" type="x:string"/>
  <x:element name="phoneZone" nillable="true" type="x:string"/>
  <x:element name="planArriveZoneCode" nillable="true" type="x:string"/>
  <x:element name="planTime" nillable="true" type="x:date"/>
  <x:element name="provinceName" nillable="true" type="x:string"/>
  <x:element name="quantity" nillable="true" type="x:double"/>
  <x:element name="queryType" nillable="true" type="x:int"/>
  <x:element name="receDt" nillable="true" type="x:string"/>
  <x:element name="receiveBill_ackbillTypeCode" nillable="true" type="x:string"/>
  <x:element name="receiveBill_addresseeAddr" nillable="true" type="x:string"/>
  <x:element name="receiveBill_addresseeAddrNative" nillable="true" type="x:string"/>
  <x:element name="receiveBill_addresseeCompName" nillable="true" type="x:string"/>
  <x:element name="receiveBill_addresseeContName" nillable="true" type="x:string"/>
  <x:element name="receiveBill_addresseeMobile" nillable="true" type="x:string"/>
  <x:element name="receiveBill_addresseePhone" nillable="true" type="x:string"/>
  <x:element name="sendBill_customsBatchs" nillable="true" type="x:string"/>
  <x:element name="sendBill_customsTypeCode" nillable="true" type="x:string"/>
  <x:element name="sendBill_cvsCode" nillable="true" type="x:string"/>
  <x:element name="sendBill_deliverEmpCode" nillable="true" type="x:string"/>
  <x:element name="sendBill_destZoneCode" nillable="true" type="x:string"/>
  <x:element name="sendBill_distanceTypeCode" nillable="true" type="x:string"/>
  <x:element name="sendBill_expressTypeCode" nillable="true" type="x:string"/>
  <x:element name="sendBill_frangibleParcelFlg" nillable="true" type="x:int"/>
  <x:element name="sendBill_freeParcelFlg" nillable="true" type="x:int"/>
  <x:element name="sendBill_freeTicketNo" nillable="true" type="x:string"/>
  <x:element name="sendBill_hasServiceProdFlg" nillable="true" type="x:int"/>
  <x:element name="sendBill_hvalueBoxType" nillable="true" type="x:string"/>
  <x:element name="sendBill_innerParcelFlg" nillable="true" type="x:int"/>
  <x:element name="sendBill_inputedZoneCode" nillable="true" type="x:string"/>
  <x:element name="sendBill_inputerEmpCode" nillable="true" type="x:string"/>
  <x:element name="sendBill_inputTm" nillable="true" type="x:date"/>
  <x:element name="sendBill_inputTmGmt" nillable="true" type="x:date"/>
  <x:element name="sendBill_inputTypeCode" nillable="true" type="x:string"/>
  <x:element name="sendBill_invoiceNo" nillable="true" type="x:string"/>
  <x:element name="sendBill_isCredit" nillable="true" type="x:int"/>
  <x:element name="sendBill_limitTypeCode" nillable="true" type="x:string"/>
  <x:element name="sendBill_lockVersionNo" nillable="true" type="x:int"/>
  <x:element name="sendBill_mawb" nillable="true" type="x:string"/>
  <x:element name="sendBill_meterageWeightQty" nillable="true" type="x:double"/>
  <x:element name="sendBill_modifiedEmpCode" nillable="true" type="x:string"/>
  <x:element name="sendBill_modifiedTm" nillable="true" type="x:date"/>
  <x:element name="sendBill_modifydateGmt" nillable="true" type="x:date"/>
  <x:element name="sendBill_needSignedBackFlg" nillable="true" type="x:int"/>
  <x:element name="sendBill_newInputTm" nillable="true" type="x:date"/>
  <x:element name="sendBill_oneselfPickupFlg" nillable="true" type="x:int"/>
  <x:element name="sendBill_otherNodeFlg" nillable="true" type="x:int"/>
  <x:element name="sendBill_preCustomsDt" nillable="true" type="x:date"/>
  <x:element name="sendBill_quantity" nillable="true" type="x:double"/>
  <x:element name="sendBill_realWeightQty" nillable="true" type="x:double"/>
  <x:element name="sendBill_refundFreeParcelFlg" nillable="true" type="x:int"/>
  <x:element name="sendBill_selfSendDiscount" nillable="true" type="x:double"/>
  <x:element name="sendBill_selfSendFlg" nillable="true" type="x:int"/>
  <x:element name="sendBill_signedBackWaybillNo" nillable="true" type="x:string"/>
  <x:element name="sendBill_signinTm" nillable="true" type="x:date"/>
  <x:element name="parameterName" nillable="true" type="x:string"/>
  <x:element name="parameterValue" nillable="true" type="x:string"/>
  <x:element name="sendBill_sourcearea" nillable="true" type="x:string"/>
  <x:element name="sendBill_sourceZoneCode" nillable="true" type="x:string"/>
  <x:element name="sendBill_subscriberName" nillable="true" type="x:string"/>
  <x:element name="sendBill_suppTypeCode" nillable="true" type="x:string"/>
  <x:element name="sendBill_tbOrderNo" nillable="true" type="x:string"/>
  <x:element name="sendBill_tbOrderType" nillable="true" type="x:string"/>
  <x:element name="sendBill_transferParcelFlg" nillable="true" type="x:int"/>
  <x:element name="sendBill_transportTypeCode" nillable="true" type="x:string"/>
  <x:element name="sendBill_trustParcelFlg" nillable="true" type="x:int"/>
  <x:element name="sendBill_twinvoiceTypeCode" nillable="true" type="x:int"/>
  <x:element name="nbpxPaper" nillable="true" type="x:string"/>
  <x:element name="wbpxInfo" nillable="true" type="x:string"/>
  <x:element name="WbpxStartDate" nillable="true" type="x:date"/>
  <x:element name="WbpxEndDate" nillable="true" type="x:date"/>
  <x:element name="Wbpxsub" nillable="true" type="x:string"/>
  <x:element name="Wbpxorg" nillable="true" type="x:string"/>
  <x:element name="jxinfo" nillable="true" type="x:string"/>
  <x:element name="jxStartDate" nillable="true" type="x:date"/>
  <x:element name="jxEndDate" nillable="true" type="x:date"/>
  <x:element name="jxCyear" nillable="true" type="x:string"/>
  <x:element name="jxpdist" nillable="true" type="x:string"/>
  <x:element name="jxkhType" nillable="true" type="x:string"/>
  <x:element name="jxkhrst" nillable="true" type="x:string"/>
  <x:element name="jxrtype" nillable="true" type="x:string"/>
  <x:element name="jxcircle" nillable="true" type="x:string"/>
  <x:element name="cbinfo" nillable="true" type="x:string"/>
  <x:element name="joinDate" nillable="true" type="x:date"/>
  <x:element name="quitDate" nillable="true" type="x:date"/>
  <x:element name="cbfrom" nillable="true" type="x:string"/>
  <x:element name="cbstatus" nillable="true" type="x:string"/>
  <x:element name="pstatus" nillable="true" type="x:string"/>
  <x:element name="trarst" nillable="true" type="x:string"/>
  <x:element name="cbcmt" nillable="true" type="x:string"/>
  <x:element name="xzjcinfo" nillable="true" type="x:string"/>
  <x:element name="xzjcyear" nillable="true" type="x:string"/>
  <x:element name="xzjctype" nillable="true" type="x:string"/>
  <x:element name="xzjccatgy" nillable="true" type="x:string"/>
  <x:element name="xzjcmethod" nillable="true" type="x:string"/>
  <x:element name="omethod" nillable="true" type="x:string"/>
  <x:element name="xzjcrasion" nillable="true" type="x:string"/>
  <x:element name="ywjcinfo" nillable="true" type="x:string"/>
  <x:element name="ywjcyear" nillable="true" type="x:string"/>
  <x:element name="ywjctype" nillable="true" type="x:string"/>
  <x:element name="ywjccat" nillable="true" type="x:string"/>
  <x:element name="ywjcmethod" nillable="true" type="x:string"/>
  <x:element name="ywjcrasion" nillable="true" type="x:string"/>
  <x:element name="empType" nillable="true" type="x:string"/>
  <x:element name="district" nillable="true" type="x:string"/>
  <x:element name="perlevel" nillable="true" type="x:string"/>
  <x:element name="title" nillable="true" type="x:string"/>
  <x:element name="idcardno" nillable="true" type="x:string"/>
  <x:element name="dateofbirth" nillable="true" type="x:date"/>
  <x:element name="weight" nillable="true" type="x:string"/>
  <x:element name="bloodtype" nillable="true" type="x:string"/>
  <x:element name="nation" nillable="true" type="x:string"/>
  <x:element name="pernative" nillable="true" type="x:string"/>
  <x:element name="nativetype" nillable="true" type="x:string"/>
  <x:element name="driverlicense" nillable="true" type="x:string"/>
  <x:element name="workstaDate" nillable="true" type="x:date"/>
  <x:element name="comstaDate" nillable="true" type="x:string"/>
  <x:element name="rssChannel" nillable="true" type="x:string"/>
  <x:element name="channelname" nillable="true" type="x:string"/>
  <x:element name="firstlang" nillable="true" type="x:string"/>
  <x:element name="firstlanglevel" nillable="true" type="x:string"/>
  <x:element name="seclang" nillable="true" type="x:string"/>
  <x:element name="seclanglevel" nillable="true" type="x:string"/>
  <x:element name="madd" nillable="true" type="x:string"/>
  <x:element name="unit" nillable="true" type="x:string"/>
  <x:element name="unitName" nillable="true" type="x:string"/>
  <x:element name="userCode" nillable="true" type="x:string"/>
  <x:element name="wareAttr" nillable="true" type="x:string"/>
  <x:element name="wareCapability" nillable="true" type="x:string"/>
  <x:element name="wareId" nillable="true" type="x:string"/>
  <x:element name="wareInsideId" nillable="true" type="x:string"/>
  <x:element name="wareMaterial" nillable="true" type="x:string"/>
  <x:element name="wareModel" nillable="true" type="x:string"/>
  <x:element name="wareName" nillable="true" type="x:string"/>
  <x:element name="warePrice" nillable="true" type="x:string"/>
  <x:element name="wareShortName" nillable="true" type="x:string"/>
  <x:element name="wareSpec" nillable="true" type="x:string"/>
  <x:element name="wareType" nillable="true" type="x:string"/>
  <x:element name="wareUse" nillable="true" type="x:string"/>
  <x:element name="zip" nillable="true" type="x:string"/>
  <x:element name="aduitPass" nillable="true" type="x:string"/>
  <x:element name="aduitPerson" nillable="true" type="x:string"/>
  <x:element name="applyId" nillable="true" type="x:string"/>
  <x:element name="applyNum" nillable="true" type="x:string"/>
  <x:element name="nowNum" nillable="true" type="x:string"/>
  <x:element name="otherConfig" nillable="true" type="x:string"/>
  <x:element name="wareLabel" nillable="true" type="x:string"/>
  <x:element name="wareMeno" nillable="true" type="x:string"/>
  <x:element name="applyType" nillable="true" type="x:string"/>
  <x:element name="filialeId" nillable="true" type="x:string"/>
  <x:element name="filialeName" nillable="true" type="x:string"/>
  <x:element name="unitPrice" nillable="true" type="x:string"/>
  <x:element name="totalAmt" nillable="true" type="x:string"/>
  <x:element name="projectCode" nillable="true" type="x:string"/>
  <x:element name="requestDate" nillable="true" type="x:date"/>
  <x:element name="tgType" nillable="true" type="x:string"/>
  <x:element name="seriesnum" nillable="true" type="x:string"/>
  <x:element name="laborDrawList" nillable="true" type="x:string"/>
  <x:element name="auditNum" nillable="true" type="x:string"/>
  <x:element name="reson" nillable="true" type="x:string"/>
  <x:element name="warehouseId" nillable="true" type="x:string"/>
  <x:element name="warehouseName" nillable="true" type="x:string"/>
  <x:element name="applyDate" nillable="true" type="x:date"/>
  <x:element name="filePath" nillable="true" type="x:string"/>
  <x:element name="receiveBill_auditerTmGmt" nillable="true" type="x:date"/>
  <x:element name="receiveBill_boxTypeCode" nillable="true" type="x:string"/>
  <x:element name="receiveBill_cargoTypeCode" nillable="true" type="x:string"/>
  <x:element name="fileName" nillable="true" type="x:string"/>
  <x:element name="md5" nillable="true" type="x:string"/>
  <x:element name="isZip" nillable="true" type="x:string"/>
  <x:element name="receiveBill_codBillFlg" nillable="true" type="x:int"/>
  <x:element name="timeStamp" nillable="true" type="x:string"/>
  <x:element name="receiveBill_codType" nillable="true" type="x:int"/>
  <x:element name="test_name" nillable="true" type="x:string"/>
  <x:element name="receiveBill_consignedTm" nillable="true" type="x:date"/>
  <x:element name="wayBillId" nillable="true" type="x:string"/>
  <x:element name="receiveBill_consigneeEmpCode" nillable="true" type="x:string"/>
  <x:element name="receiveBill_consignorAdd" nillable="true" type="x:string"/>
  <x:element name="receiveBill_consignorCompName" nillable="true" type="x:string"/>
  <x:element name="receiveBill_consignorContName" nillable="true" type="x:string"/>
  <x:element name="receiveBill_consignorMobile" nillable="true" type="x:string"/>
  <x:element name="receiveBill_consignorPhone" nillable="true" type="x:string"/>
  <x:element name="receiveBill_consignorPostalCode" nillable="true" type="x:string"/>
  <x:element name="receiveBill_consignorTaxNo" nillable="true" type="x:string"/>
  <x:element name="receiveBill_consultCode" nillable="true" type="x:string"/>
  <x:element name="receiveBill_consValue" nillable="true" type="x:double"/>
  <x:element name="receiveBill_consValueCurrencyCode" nillable="true" type="x:string"/>
  <x:element name="receiveBill_countryCode" nillable="true" type="x:string"/>
  <x:element name="receiveBill_customsBatchs" nillable="true" type="x:string"/>
  <x:element name="sendBill_countryCode" nillable="true" type="x:string"/>
  <x:element name="sendBill_unifiedCode" nillable="true" type="x:string"/>
  <x:element name="deadline" nillable="true" type="x:string"/>
  <x:element name="statReason" nillable="true" type="x:string"/>
  <x:element name="endReason" nillable="true" type="x:string"/>
  <x:element name="writeDate" nillable="true" type="x:date"/>
  <x:element name="syexpDate" nillable="true" type="x:date"/>
  <x:element name="englishName" nillable="true" type="x:string"/>
  <x:element name="email" nillable="true" type="x:string"/>
  <x:element name="sex" nillable="true" type="x:string"/>
  <x:element name="marriage" nillable="true" type="x:string"/>
  <x:element name="jobDatefrom" nillable="true" type="x:date"/>
  <x:element name="phone" nillable="true" type="x:string"/>
  <x:element name="tel" nillable="true" type="x:string"/>
  <x:element name="idCard" nillable="true" type="x:string"/>
  <x:element name="age" nillable="true" type="x:string"/>
  <x:element name="nativePlace" nillable="true" type="x:string"/>
  <x:element name="hukouAddr" nillable="true" type="x:string"/>
  <x:element name="hukouType" nillable="true" type="x:string"/>
  <x:element name="height" nillable="true" type="x:string"/>
  <x:element name="workExp" nillable="true" type="x:string"/>
  <x:element name="contactAddr" nillable="true" type="x:string"/>
  <x:element name="nowAddr" nillable="true" type="x:string"/>
  <x:element name="maxEduLevel" nillable="true" type="x:string"/>
  <x:element name="goodat" nillable="true" type="x:string"/>
  <x:element name="flanlevel" nillable="true" type="x:string"/>
  <x:element name="certificate" nillable="true" type="x:string"/>
  <x:element name="starttime" nillable="true" type="x:date"/>
  <x:element name="endtime" nillable="true" type="x:date"/>
  <x:element name="certiname" nillable="true" type="x:string"/>
  <x:element name="level" nillable="true" type="x:string"/>
  <x:element name="channel" nillable="true" type="x:string"/>
  <x:element name="committee" nillable="true" type="x:string"/>
  <x:element name="edus" nillable="true" type="x:string"/>
  <x:element name="eduStartTime" nillable="true" type="x:date"/>
  <x:element name="eduEndTime" nillable="true" type="x:date"/>
  <x:element name="estament" nillable="true" type="x:string"/>
  <x:element name="eduLevel" nillable="true" type="x:string"/>
  <x:element name="degree" nillable="true" type="x:string"/>
  <x:element name="stumode" nillable="true" type="x:string"/>
  <x:element name="trainings" nillable="true" type="x:string"/>
  <x:element name="trainStatime" nillable="true" type="x:date"/>
  <x:element name="trainEndtime" nillable="true" type="x:date"/>
  <x:element name="trainCourse" nillable="true" type="x:string"/>
  <x:element name="trainHours" nillable="true" type="x:string"/>
  <x:element name="trainHost" nillable="true" type="x:string"/>
  <x:element name="works" nillable="true" type="x:string"/>
  <x:element name="workStaTime" nillable="true" type="x:date"/>
  <x:element name="workEndTime" nillable="true" type="x:date"/>
  <x:element name="tradeType" nillable="true" type="x:string"/>
  <x:element name="comp" nillable="true" type="x:string"/>
  <x:element name="org" nillable="true" type="x:string"/>
  <x:element name="position" nillable="true" type="x:string"/>
  <x:element name="reason" nillable="true" type="x:string"/>
  <x:element name="nbpxinfo" nillable="true" type="x:string"/>
  <x:element name="nbpxStartDate" nillable="true" type="x:date"/>
  <x:element name="nbpxSndDate" nillable="true" type="x:date"/>
  <x:element name="nbpxSroject" nillable="true" type="x:string"/>
  <x:element name="nbpxSubject" nillable="true" type="x:string"/>
  <x:element name="dealView" nillable="true" type="x:string"/>
  <x:element name="departmentCode" nillable="true" type="x:string"/>
  <x:element name="depName" nillable="true" type="x:string"/>
  <x:element name="discardCount" nillable="true" type="x:string"/>
  <x:element name="dutyName" nillable="true" type="x:string"/>
  <x:element name="dutyNumber" nillable="true" type="x:string"/>
  <x:element name="flowKey" nillable="true" type="x:string"/>
  <x:element name="formData" nillable="true" type="x:string"/>
  <x:element name="maintenanceOn" nillable="true" type="x:date"/>
  <x:element name="proquitDate" nillable="true" type="x:date"/>
  <x:element name="materielCode" nillable="true" type="x:string"/>
  <x:element name="materielName" nillable="true" type="x:string"/>
  <x:element name="merchandiseCode" nillable="true" type="x:string"/>
  <x:element name="merchandiseName" nillable="true" type="x:string"/>
  <x:element name="journalId" nillable="true" type="x:string"/>
  <x:element name="timestamp" nillable="true" type="x:string"/>
  <x:element name="htInfo" nillable="true" type="x:string"/>
  <x:element name="startDate" nillable="true" type="x:date"/>
  <x:element name="endDate" nillable="true" type="x:date"/>
  <x:element name="htNo" nillable="true" type="x:string"/>
  <x:element name="sreason" nillable="true" type="x:string"/>
  <x:element name="docStatus" nillable="true" type="x:string"/>
  <x:element name="nbpxType" nillable="true" type="x:string"/>
  <x:element name="nbpxResult" nillable="true" type="x:string"/>
  <x:element name="nbpxCresult" nillable="true" type="x:string"/>
  <x:element name="nbpxCerti" nillable="true" type="x:string"/>
  <x:element name="address" nillable="true" type="x:string"/>
  <x:element name="assetsCode" nillable="true" type="x:string"/>
  <x:element name="assetsCount" nillable="true" type="x:string"/>
  <x:element name="assetsName" nillable="true" type="x:string"/>
  <x:element name="assetsNum" nillable="true" type="x:string"/>
  <x:element name="brand" nillable="true" type="x:string"/>
  <x:element name="businessDocumentKey" nillable="true" type="x:string"/>
  <x:element name="companyCode" nillable="true" type="x:string"/>
  <x:element name="companyName" nillable="true" type="x:string"/>
  <x:element name="createdOn" nillable="true" type="x:date"/>
  <x:element name="dealStatus" nillable="true" type="x:string"/>
  <x:element name="netWorth" nillable="true" type="x:string"/>
  <x:element name="openDate" nillable="true" type="x:date"/>
  <x:element name="openingOn" nillable="true" type="x:date"/>
  <x:element name="originalValue" nillable="true" type="x:string"/>
  <x:element name="recordedOn" nillable="true" type="x:date"/>
  <x:element name="regionRightOfUse" nillable="true" type="x:string"/>
  <x:element name="requestSystemId" nillable="true" type="x:string"/>
  <x:element name="PAGE_INDEX" nillable="true" type="x:string"/>
  <x:element name="PAGE_NUM" nillable="true" type="x:string"/>
  <x:element name="runId" nillable="true" type="x:string"/>
  <x:element name="PAGE_SIZE" nillable="true" type="x:string"/>
  <x:element name="receiveBill_customsTypeCode" nillable="true" type="x:string"/>
  <x:element name="receiveBill_cvsCode" nillable="true" type="x:string"/>
  <x:element name="receiveBill_deliverEmpCode" nillable="true" type="x:string"/>
  <x:element name="receiveBill_destZoneCode" nillable="true" type="x:string"/>
  <x:element name="receiveBill_distanceTypeCode" nillable="true" type="x:string"/>
  <x:element name="receiveBill_expressTypeCode" nillable="true" type="x:string"/>
  <x:element name="receiveBill_frangibleParcelFlg" nillable="true" type="x:int"/>
  <x:element name="receiveBill_freeParcelFlg" nillable="true" type="x:int"/>
  <x:element name="receiveBill_freeTicketNo" nillable="true" type="x:string"/>
  <x:element name="receiveBill_hasServiceProdFlg" nillable="true" type="x:int"/>
  <x:element name="receiveBill_hvalueBoxType" nillable="true" type="x:string"/>
  <x:element name="receiveBill_innerParcelFlg" nillable="true" type="x:int"/>
  <x:element name="receiveBill_inputedZoneCode" nillable="true" type="x:string"/>
  <x:element name="receiveBill_inputerEmpCode" nillable="true" type="x:string"/>
  <x:element name="receiveBill_inputTm" nillable="true" type="x:date"/>
  <x:element name="RET" nillable="true" type="x:string"/>
  <x:element name="RET_CODE" nillable="true" type="x:string"/>
  <x:element name="RET_MSG" nillable="true" type="x:string"/>
  <x:element name="SEQ_NO" nillable="true" type="x:string"/>
  <x:element name="SERVER_ID" nillable="true" type="x:string"/>
  <x:element name="SYSTEM_ID" nillable="true" type="x:string"/>
  <x:element name="TRAN_DATE" nillable="true" type="x:string"/>
  <x:element name="TRAN_MODE" nillable="true" type="x:string"/>
  <x:element name="TRAN_TIMESTAMP" nillable="true" type="x:string"/>
  <x:element name="USER_ID" nillable="true" type="x:string"/>
  <x:element name="USER_LANG" nillable="true" type="x:string"/>
  <x:element name="WS_ID" nillable="true" type="x:string"/>
  <x:element name="receiveBill_inputTmGmt" nillable="true" type="x:date"/>
  <x:element name="receiveBill_inputTypeCode" nillable="true" type="x:string"/>
  <x:element name="receiveBill_invoiceNo" nillable="true" type="x:string"/>
  <x:element name="receiveBill_isCredit" nillable="true" type="x:int"/>
  <x:element name="receiveBill_limitTypeCode" nillable="true" type="x:string"/>
  <x:element name="receiveBill_lockVersionNo" nillable="true" type="x:int"/>
  <x:element name="COUNTRY" nillable="true" type="x:string"/>
  <x:element name="receiveBill_mawb" nillable="true" type="x:string"/>
  <x:element name="receiveBill_meterageWeightQty" nillable="true" type="x:double"/>
  <x:element name="receiveBill_modifiedEmpCode" nillable="true" type="x:string"/>
  <x:element name="receiveBill_modifiedTm" nillable="true" type="x:date"/>
  <x:element name="receiveBill_modifydateGmt" nillable="true" type="x:date"/>
  <x:element name="receiveBill_needSignedBackFlg" nillable="true" type="x:int"/>
  <x:element name="receiveBill_newInputTm" nillable="true" type="x:date"/>
  <x:element name="receiveBill_oneselfPickupFlg" nillable="true" type="x:int"/>
  <x:element name="receiveBill_otherNodeFlg" nillable="true" type="x:int"/>
  <x:element name="consignList_inputTm" nillable="true" type="x:date"/>
  <x:element name="consignList_newInputTm" nillable="true" type="x:date"/>
  <x:element name="consignList_qtyUnit" nillable="true" type="x:string"/>
  <x:element name="consignList_versionNo" nillable="true" type="x:int"/>
  <x:element name="consignList_waybillId" nillable="true" type="x:string"/>
  <x:element name="consignList_waybillNo" nillable="true" type="x:string"/>
  <x:element name="consignList_weightQty" nillable="true" type="x:double"/>
  <x:element name="consignorContName" nillable="true" type="x:string"/>
  <x:element name="consignorCustNo" nillable="true" type="x:string"/>
  <x:element name="consignorMobile" nillable="true" type="x:string"/>
  <x:element name="consignorPhone" nillable="true" type="x:string"/>
  <x:element name="consNames" nillable="true" type="x:string"/>
  <x:element name="consQtys" nillable="true" type="x:string"/>
  <x:element name="contnrCode" nillable="true" type="x:string"/>
  <x:element name="conveyanceType" nillable="true" type="x:string"/>
  <x:element name="convienienceCode" nillable="true" type="x:string"/>
  <x:element name="convienienceStore" nillable="true" type="x:string"/>
  <x:element name="countryName" nillable="true" type="x:string"/>
  <x:element name="courierCode" nillable="true" type="x:string"/>
  <x:element name="currencyCode" nillable="true" type="x:string"/>
  <x:element name="currentAddr" nillable="true" type="x:string"/>
  <x:element name="customerCardNo" nillable="true" type="x:string"/>
  <x:element name="customerCodeList" nillable="true" type="x:string"/>
  <x:element name="customerNo" nillable="true" type="x:string"/>
  <x:element name="cvsCode" nillable="true" type="x:string"/>
  <x:element name="cvsName" nillable="true" type="x:string"/>
  <x:element name="dataType" nillable="true" type="x:string"/>
  <x:element name="delayCnt" nillable="true" type="x:string"/>
  <x:element name="delayReason" nillable="true" type="x:string"/>
  <x:element name="delayTm" nillable="true" type="x:date"/>
  <x:element name="deliverConfirm" nillable="true" type="x:string"/>
  <x:element name="deliverDateStr" nillable="true" type="x:date"/>
  <x:element name="deliveringCnt" nillable="true" type="x:string"/>
  <x:element name="departTm" nillable="true" type="x:date"/>
  <x:element name="desCity" nillable="true" type="x:string"/>
  <x:element name="desCityName" nillable="true" type="x:string"/>
  <x:element name="desCode" nillable="true" type="x:string"/>
  <x:element name="descZoneCodeGps" nillable="true" type="x:string"/>
  <x:element name="destCityName" nillable="true" type="x:string"/>
  <x:element name="destZoneCode" nillable="true" type="x:string"/>
  <x:element name="destZoneName" nillable="true" type="x:string"/>
  <x:element name="detailId" nillable="true" type="x:string"/>
  <x:element name="distName" nillable="true" type="x:string"/>
  <x:element name="distScanTm" nillable="true" type="x:date"/>
  <x:element name="employeeID" nillable="true" type="x:string"/>
  <x:element name="empMobile" nillable="true" type="x:string"/>
  <x:element name="endDt" nillable="true" type="x:string"/>
  <x:element name="endTm" nillable="true" type="x:date"/>
  <x:element name="exceptionCause" nillable="true" type="x:string"/>
  <x:element name="exceptionState" nillable="true" type="x:string"/>
  <x:element name="expressTypeName" nillable="true" type="x:string"/>
  <x:element name="extendAttach1" nillable="true" type="x:string"/>
  <x:element name="receiveBill_addresseePostalCode" nillable="true" type="x:string"/>
  <x:element name="receiveBill_airportCode" nillable="true" type="x:string"/>
  <x:element name="receiveBill_auditedFlg" nillable="true" type="x:int"/>
  <x:element name="receiveBill_auditedTm" nillable="true" type="x:date"/>
  <x:element name="consignList_consId" nillable="true" type="x:string"/>
  <x:element name="consignList_consName" nillable="true" type="x:string"/>
  <x:element name="consignList_consQty" nillable="true" type="x:string"/>
  <x:element name="consignList_consValue" nillable="true" type="x:double"/>
  <x:element name="receiveBill_auditerEmpCode" nillable="true" type="x:string"/>
  <x:element name="barUploadTmStd" nillable="true" type="x:date"/>
  <x:element name="beginTm" nillable="true" type="x:date"/>
  <x:element name="cageCode" nillable="true" type="x:string"/>
  <x:element name="cancelCnt" nillable="true" type="x:string"/>
  <x:element name="childNo" nillable="true" type="x:string"/>
  <x:element name="childNos" nillable="true" type="x:string"/>
  <x:element name="childSet" nillable="true" type="x:string"/>
  <x:element name="childWaybillNo" nillable="true" type="x:string"/>
  <x:element name="cityName" nillable="true" type="x:string"/>
  <x:element name="code" nillable="true" type="x:string"/>
  <x:element name="consignedTm" nillable="true" type="x:date"/>
  <x:element name="consignList" nillable="true" type="x:string"/>
</x:schema>
